html, body, #container, .fill {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewer {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position:absolute;
    width: 100%;
    top: 0px;
    height: auto !important;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#home-button {
    float: left;
}

.ol-attribution li:first-child, .leaflet-control-attribution a:first-child{
    display: none;
    visibility: hidden;
}

#mapstore-drawermenu {
    position: absolute;
    top: 0px;
    bottom: 0;
}

.modal-dialog-container {
    z-index: 2000!important;
}

#mapstore-navbar-container {
    top: 0px;
}

#decat-viewer-header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    height: 72px;
    overflow: hidden;
}

#decat-viewer-header .square-button{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.flex-center {
    display: flex;
    align-items: center;
}

#decat-time-filter-current-interval {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: large;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
#decat-time-filter-current-interval strong{
    margin-right: 0.5em;
}

.decat-accordion {
    background-color: #f2f2f2;
}

.decat-accordion .panel-heading {
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 5px;
    background-color: #f2f2f2;
}

.decat-accordion .panel-heading:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.decat-accordion .decat-panel-header{
    height: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    cursor: pointer;
    background-color: #fff;
}

.decat-accordion .panel-title{
    font-size: 18px;
}

.decat-accordion .panel-body{
    background-color: #f2f2f2;
    border-top: none !important;
}

.decat-accordion .panel-group{
    background-color: #f2f2f2;
}

.decat-accordion .panel-default{
    background-color: #f2f2f2;
}

.d-hazard {
    height: auto;
    background-color: #fcfcfc;
    margin: 5px 0;
    transition: all 0.4s;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
.location-filter {
    min-height: 100px;
}
.d-hazard:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.d-text-description {
    font-style: italic;
    font-family: serif;
    font-size: 11px;
    margin-bottom: 10px;
}

.d-accordion-container {
    overflow: auto;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.d-bg-watch {
  background-color: #efc75b;
}

.d-br-watch {
  border-top: 1px solid #efc75b;
}

.d-text-watch {
  color: #efc75b;
}

.d-bg-information {
  background-color: #5bafef;
}

.d-text-information {
  color: #5bafef;
}

.d-bg-warning {
  background-color: #ef5b81;
}

.d-text-warning {
  color: #ef5b81;
}

.d-bg-advisory {
  background-color: #82be4d;
}

.d-text-advisory {
  color: #82be4d;
}

.margin-btn-group {
    margin: 10px 0;
}

.pagination-toolbar {
  border-top: none !important;
}

.pagination-toolbar .pagination {
  margin: 5px 0 !important;
}

.pagination-toolbar > div {
    font-weight: normal !important;
    float: none !important;
    clear: both !important;
    font-style: italic;
    font-family: serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.pagination-toolbar .pagination .active a {
    border-color: #777 !important;
    color: #777 !important;
}

.fa-2x {
    font-size: 2em !important;
}

.btn-send {
    background-color: transparent;
    padding: 10px 10px;
}

.btn-send:hover {
    background-color: #ddd;
    cursor: pointer;
}

.btn-send:active {
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.12), inset 0 4px 8px rgba(0, 0, 0, 0.24);
}

.early-warning-transition-enter {
    float: left;
    width: 0;
    overflow: hidden;
}

.early-warning-transition-enter.early-warning-transition-enter-active {
    float: left;
    width: 300px;
    transition: width 0.3s;
    overflow: hidden;
}

.early-warning-transition-leave {
    float: left;
    width: 300px;
    overflow: hidden;
    height: 0;
}

.early-warning-transition-leave.early-warning-transition-leave-active {
    float: left;
    width: 0;
    transition: width 0.3s;
    overflow: hidden;
    height: 0;
}

.event-editor-container {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.12), inset 0 4px 8px rgba(0, 0, 0, 0.24);
}

.event-editor-container .container-fluid{
    padding: 0;
}

.event-editor-container .row {
    margin: 4px 0 0 0;
}

.event-editor-container .d-hazard {
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.event-editor-container .d-hazard h5 {
    margin: 0 0 5px 0;
}

.event-editor-container .d-hazard strong {
    font-weight: normal;
}

.event-editor-container .d-hazard:hover {
    box-shadow: none;
}

.event-editor-divider {
    border-top: 1px dashed #ddd;
    margin-top: 10px;
    padding-top: 10px;
}

.event-editor-container .input-group-btn .active {
    background-color: #b4f68d !important;
}

.event-editor-bottom-group {
    margin: 5px;
}

.event-editor-container .Select-menu-outer {
    z-index: 5;
}

.event-editor-container .glyphicon-question-sign {
    color: #777;
    cursor: pointer;
}

.event-editor-container .glyphicon-question-sign:hover {
    color: #333;
}

#mapstore-drawermenu .navHeader > .glyphicon-1-close {
    padding: 6px 0 0 12px !important;
}

#mapstore-drawermenu .navHeader > .glyphicon-1-close:hover {
    color: #888;
}

#mapstore-drawermenu .navButtons .btn-default {
    background-color: #fff !important;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.12), inset 0 4px 8px rgba(0, 0, 0, 0.24);
}

#mapstore-drawermenu .navButtons .btn-primary:hover {
    background-color: #fff !important;
}

#mapstore-drawermenu .navHeader .btn {
    padding: 6px 12px !important;
}

#mapstore-drawermenu .btn {
    background-color: #f2f2f2;
}

.d-hazard .col-xs-7 {
    padding-right: 0;
}

.d-hazard .col-xs-7 .col-xs-12 {
    padding-right: 0;
}



.d-hazard .event-check:hover {
    color: #777;
    cursor: pointer;
}

.pagination > li > a, .pagination > li > span {
    color: #333;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #ddd;
}

.d-checkbox-invisible input {
    display: none;
}

.d-checkbox-invisible .event-check {
    color: #333;
}

.d-checkbox-invisible label {
    padding-left: 0;
}

#navigationBar #navigationBar-container,
#identifyBar #identifyBar-container,
#mapstore-scalebox-container,
.ol-overviewmap.ol-custom-overviewmap.ol-unselectable.ol-control,
.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible,
.ol-scale-line.ol-unselectable,
.ol-overviewmap.ol-custom-overviewmap.ol-unselectable.ol-control.ol-collapsed,
#mapstore-scalebox-container,
.leaflet-bottom.leaflet-right {
    transform: translateX(0px);
    transition: transform .5s ease-out;
}


[decat-toc-container] #navigationBar #navigationBar-container,
[decat-toc-container] #navigationBar span#navigationBar-container,
[decat-toc-container] #identifyBar #identifyBar-container,
[decat-toc-container] #mapstore-scalebox-container,
[decat-toc-container] .ol-overviewmap.ol-custom-overviewmap.ol-unselectable.ol-control,
[decat-toc-container] .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible,
[decat-toc-container] .ol-scale-line.ol-unselectable,
[decat-toc-container] .ol-overviewmap.ol-custom-overviewmap.ol-unselectable.ol-control.ol-collapsed,
[decat-toc-container] #mapstore-scalebox-container,
[decat-toc-container] .leaflet-bottom.leaflet-right{
    transform: translateX(-302px);
    transition: transform .4s ease-out;
}



#mapstore-navbar #mapstore-burger-menu {
    float: left !important;
}

#decat-early-warning .panel, #early-warning-container{
    border: none;
    margin: 0px;

}
#decat-early-warning .panel-body, #early-warning-container .panel-body{
    padding: 0;
}
.alerts-right-toc{
    position: absolute;
    top:0px;
    bottom:0px;
    background-color: #f2f2f2;
    width: 100%;
    overflow: hidden;
}
.alerts-right-toc .panel.panel-default{
    border:none;
    background-color: transparent;
    width: 100%;
    margin: 0px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
}
.alerts-right-toc .panel.panel-default.right-toc-layer {
    bottom: calc(0px + 50%);
    top: 0px;
}
.alerts-right-toc .panel.panel-default.right-toc-documents {
    top: calc(0px + 50%);
    bottom: 0px;
}
.alerts-right-toc .panel-body{
    padding: 0px;
    overflow: scroll;
    height: calc(100% - 50px);

}
.right-toc-documents  > .panel-heading{
    border-top: 1px solid #fff;
}
.alerts-right-toc > .panel-heading{
    color: #333333;
    font-weight: bold;
    background: transparent;
    background-color: #f2f2f2;
    border-bottom: 1px solid #fff;
    padding: 10px 15px;
}

.alerts-right-toc #mapstore-layers .toc-default-group {
    border-bottom: 1px solid #eeeeee;
    padding: 5px 0;
    background-color: #f2f2f2;
}

.alerts-right-toc .navHeader > .glyphicon {
  font-size: 26px;
}

.alerts-right-toc .navHeader > .glyphicon-1-close {
  float: left;
  display: block;
  height: 52px;
  width: 52px;
  padding: 13px 0 0 13px;
  background-color: #f2f2f2;
}
.alerts-right-toc .navHeader .glyphicon-remove {
  color: #333333;
}
.alerts-right-toc .panel-default > .panel-heading {
  color: #333333;
  font-weight: bold;
  background: transparent;
  background-color: #f2f2f2;
}
/* nav buttons */
.alerts-right-toc .navButtons .btn.square-button {
  font-size: 26px;
}
.alerts-right-toc .navButtons .btn.square-button .glyphicon {
  font-size: 26px;
}
/* toc */
.alerts-right-toc #mapstore-layers .toc-group-title,
.alerts-right-toc #mapstore-layers .toc-title {
  position: relative;
}
/* visibility check */
.alerts-right-toc #mapstore-layers .glyphicon,
.alerts-right-toc #mapstore-layers .visibility-check.glyphicon {
  font-size: 17px;
  z-index: 2;
}
.alerts-right-toc #mapstore-layers .visibility-check.glyphicon {
  float: left;
  font-size: 17px;
  margin-top: 0;
}
.alerts-right-toc #mapstore-layers .toc-default-group > .visibility-check.glyphicon.visibility-check {
  color: #333333;
  margin: 5px 8px 0 8px;
  width: 17px;
  font-size: 17px;
}
/* group */
.alerts-right-toc #mapstore-layers .group-expanded,
.ms2 .group-collapsed {
  padding: 5px 0;
  border-bottom: 1px solid #eeeeee;
}
.alerts-right-toc #mapstore-layers .toc-group-title {
  background: transparent;
}
.alerts-right-toc #mapstore-layers .toc-default-layer .glyphicon {
  font-size: 17px;
  margin: 0 4px 0;
  color: #333333;
  height: 17px;
  width: 17px;
  display: block;
}
.alerts-right-toc #mapstore-layers .toc-group-title .glyphicon-folder-close,
.alerts-right-toc #mapstore-layers .toc-group-title .glyphicon-folder-open {
  color: #333333;
}
.alerts-right-toc #mapstore-layers .toc-default-group {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
  background-color: #f2f2f2;
}
.alerts-right-toc #mapstore-layers .toc-group-children {
  margin-left: 24px;
}
/* layer */
.alerts-right-toc #mapstore-layers .toc-default-layer {
  padding: 10px 0;
}
.alerts-right-toc #mapstore-layers .toc-layer-tool {
  font-size: 22px;
}
.toc-default-layer .toc-title {
  max-width: 140px;
}
.toc-default-layer .inline-spinner {
  position: relative;
  top: -7px;
}
#mapstore-layer-settings {
  background-color: #ffffff;
}
#mapstore-refresh-layers {
  background-color: #ffffff;
}
.mapstore-toc > div > button {
  border: none;
  box-shadow: none;
  width: auto;
  float: right;
  padding: 1px 5px;
  position: relative;
  font-size: 20px;
  top: -36px;
  background-color: transparent;
}
.alerts-right-toc .mapstore-toc > button.btn span.glyphicon {
  font-size: 20px;
}
#mapstore-refresh-layers input {
  margin-right: 10px;
  vertical-align: top;
}
#mapstore-refresh-layers label {
  margin-top: 2px;
}
.alerts-right-toc .panel {
  background-color: #f2f2f2;
}

.alertsErrorTitle {
    display: block;
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bolder;
}
.alertsErrorTitle:after {
    content: ":";
}
.alertsErrorContent {
    display: inline-block;
    margin-bottom: 4px;
    padding-left: 5px;
}
#MetadataModal div.col-xs-7 {
    display: none;
}
#MetadataModal .modal-dialog {
    width: 400px;
}
#MetadataModal div.col-xs-5 {
    width: 100%;
}
#mapstore-catalog-panel ul.pagination li.active a{
    border-color: #777 !important;
    color: #777 !important;
}
#decat-save-map-container .dropzone-errorBox.alert-danger{
    margin-top: 10px;
}
.close-hazard-icon{
    margin-top: 18px;
    cursor: pointer;
}
.hazard-container {
    margin: 0px 0px 20px 0px;
    background-color: white;
}
.hazard-info .panel {
    margin: 5px 15px;
}
.hazard-info .panel-heading {

    text-align: center;
}
.hazard-info .panel-body{
    background-color: white;
}
.hazard-info-label{
    font-style: italic;
    padding-right: 4px;
}
.hazard-info-description {
    background-color: #eeeeee;
}
.hazard-info-description div{
    padding: 0px 4px;

}
.open-assessment{
    padding: 5px 10px;
}
.hazard-container .col-xs-1, .hazard-container .col-xs-9,{
    padding: 0px;
}

.hazard-container .fa-pencil{
    padding: 5px 4px 5px 5px;
}
.open-assessment:hover, .show-model:hover, .btn-hover:hover{
    background-color: #ddd;
    cursor: pointer;
    border-radius: 3px;
    color: black;
}
.hazard-container .row {
    margin: 4px 0px;

}

.hazard-container .container-fluid{
    padding: 0;
}
.map-icon.archived:after {
    font-family: mapstore2;
    content: '\e118';
    font-size: x-large;
    position: absolute;
    top: 24px;
    left: 24px;
    color: #000000;
    z-index: 100;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 14px;
}

.map-icon.promoted:after {
    font-family: mapstore2;
    content: '\e013';
    font-size: x-large;
    position: absolute;
    top: 24px;
    left: 24px;
    color: #000000;
    z-index: 100;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 14px;
}
.promote-ass{
    color: lightgray;
}
.promoted-ass:before, .promote-ass:before {
    font-family: mapstore2;
    content: '\e013';
    font-size: small;
}

 .ass-promoted-at {
        margin-bottom: 0px;
 }
 .hazard-info .col-xs-12 {
     padding: 0px;
 }
.show-model, .dect-btn{
    width: 24px;
    height: 24px;
    padding: 5px;

}
.dect-disabled {
    color: gray;
}
.model-description {
    font-style: italic;
    font-family: serif;
    font-size: 11px;
    margin-bottom: 10px;
}
.model-in_output_desc{
    border-top: 1px dashed #ddd;
    padding-top: 10px !important;
    margin-bottom: 10px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.run-input {
    border: 0px;
    padding: 0px 2px;
}
.d-top-border {
    border-top: 1px dashed #ddd;
}
.d-bottom-border {
    border-bottom: 1px dashed #ddd;
}

#run-upload-files .btn-file {
  position: relative;
  overflow: hidden;
  border: 1px solid #cccccc;
}
#run-upload-files .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
#run-upload-files input[readonly] {

  background-color: white !important;
  cursor: text !important;
}
.required.help-block{
    font-size: smaller;
}
