{% extends "base.html" %}
{% load i18n avatar_tags %}
{% block extra_head %}
      <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}
{% block extra_tab %}
{% comment %}
Add Tab for Third Party Apps
<li>
 <a href="{{ PROJECT_ROOT }}app">App</a>
</li>
{% endcomment %}
{% endblock %}

{% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        
        <div class="col-md-3">
          <h4><span>Contact Us</span></h4>
          <div class="contact-info">
            <ul class="list-group">
              <div>
                <i class="fa fa-map-marker"></i>
                <strong>Address:</strong>
                <div><span>30 Archbishop Kyprianou Street, P.O.Box 50329, 3035 Limassol - Cyprus</span></div>
              </div>
              <div>
                <i class="fa fa-phone"></i>
                <strong>Phone:</strong>
                <span>+357 25002549</span>
              </div>
              <div>
                <i class="fa fa-envelope"></i>
                <strong>Email:</strong>
                <span><a href="mailto:info@decatastrophize.eu">info@decatastrophize.eu</a></span>
              </div>
            </ul>
          </div>
        </div>
        
        <div class="col-md-3">
          <!--h4><span>Twitter</span></h4>
          <div class="recentTweets">
            <small>
              <a href="https://twitter.com/eu_decat/status/745955215560556544">@eu_decat - 12 months</a>
            </small>
            <p>
              Decat: Towards Better Protection of Citizens against Disaster Risks: Strengthening Early Warning Systems in Europe. <a href="https://t.co/U7mMRlgnt6" class="twitter-link">https://t.co/U7mMRlgnt6</a>
            </p>
          </div-->
        </div>
        
        <!--div class="col-md-2">
          <ul class="list-unstyled">
            <li>Data</li>
            <li><a href="{% url "layer_browse" %}">{% trans "Layers" %}</a></li>
            <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url "services" %}">{% trans "Remote Services" %}</a></li>
            <li><a href="{% url "layer_upload" %}">Upload Layer</a></li>
            <li><a href="{% url "document_upload" %}">Upload Document</a></li>
            <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li>Maps</li>
            <li><a href="{% url "maps_browse" %}">{% trans "Explore Maps" %}</a></li>
            {% if user.is_authenticated %}
            <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
            {% endif %}
          </ul>
        </div>
		<div class="col-md-2">
          <ul class="list-unstyled">
            <li>About</li>
            <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
            <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
            {% if perms.announcements.can_manage %}
            <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
            {% endif %}
            {% if user.is_superuser %}
            <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
            <li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
            <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
            {% endif %}
          </ul>
        </div-->
        <div class="col-md-6 text-right">
          <ul class="list-unstyled">
            <li>{% trans "Powered by" %} <a href="http://geonode.org">{% trans "GeoNode" %}</a> <em>{% trans "version" %} {{ VERSION }}</em></li>
            <li><a href="{% url "developer" %}">{% trans "Developers" %}</a> | <a href="{% url "about" %}">{% trans "About" %}</a><li>
          </ul>
          <label class="hidden">{% trans "Language" %}</label>
          {% if csrf_token != "NOTPROVIDED" %}
          {% get_current_language as LANGUAGE %}
          <form class="form-inline" action="/i18n/setlang/" method="post">
          {% csrf_token %}
            <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
              {% for lang in LANGUAGES %}
              <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                {{ lang.1 }}
              </option>
              {% endfor %}
            </select>
          </form>
          {% endif %}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-12">
        Copyright © 2017 DECATASTROPHIZE All rights reserved.
          </div>
      </div>
      
      
    </div>
  </footer>
  {% endblock footer %}
