{% extends "geonode_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block extra_head %}
{{ block.super }}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
<link rel="stylesheet" href="https://cdn.jslibs.mapstore2.geo-solutions.it/leaflet/0.2.4/leaflet.draw.css" />
<link rel="stylesheet" href="/static/decat/themes/default.css" id="theme_stylesheet">
<link rel="shortcut icon" type="image/png" href="https://cdn.jslibs.mapstore2.geo-solutions.it/leaflet/favicon.ico" />
<script src="https://maps.google.com/maps/api/js?v=3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.10/proj4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="https://cdn.jslibs.mapstore2.geo-solutions.it/leaflet/0.2.4/leaflet.draw.js"></script>

{% endblock %}



{% block extra_script %}

{{ block.super }}
<script type="text/javascript"src="/static/decat/bundle.js">
</script>
{% endblock %}

{% block body %}
    <div id="decat"></div>
{% endblock %}

{% block wrap-class %}ms2-wrap{% endblock %}"
{% block container-class %}ms2-container{% endblock %}"

{% block footer %}
    <div id="decat-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2017 <a href="http://decatastrophize.eu/">DECATASTROPHIZE</a> All rights reserved.
                </div>
        
                <div class="col-md-6 text-right">
                    <ul class="list-unstyled">
                        <li>{% trans "Powered by" %} <a href="http://geonode.org">{% trans "GeoNode" %}</a> <em>{% trans "version" %} {{ VERSION }}</em></li>
                        <li><a href="{% url "developer" %}">{% trans "Developers" %}</a> | <a href="{% url "about" %}">{% trans "About" %}</a><li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock footer %}
